.Hidden {
  display: none;

  &Mobile {
    @media screen and (max-width: 1007px) {
      display: none;
    }
  }

  &Desktop {
    @media screen and (min-width: 1008px) {
      display: none;
    }
  }
}
